{% extends "core/base.html" %}
{% block content %}
    <div class="profile">
        <div class="nav-profile">
            <div>
                <div id="avatar-photo">
                </div>
                <div id="name"> <!-- username-->
                    Login &nbsp; {{ request.user.username }}
                </div>
                <!-- first_name-->
                <div id="city-id">
                    First_Name &nbsp; {{request.user.first_name}}
                </div>
                <div id="city-id">
                    Last_Name &nbsp; {{request.user.last_name}}

                </div>
            </div>
            <ul id="advertisement-info">
                <li>
                    <ul class="category">
                        <li>
                            <b>Мои объявления</b>
                        </li>
                        <li>
                            <a href="{% url "users:create_product" request.user.username %}?next={{request.path}}"><b>Добавить товар</b></a>
                        </li>
                        <li class="profile-settings">
                            Архив
                        </li>
                        <li class="profile-settings">
                            Все объявления
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="category">
                        <li>
                            <a href="{% url "users:profile" request.user.username %}"><b>Мой профиль</b></a>
                        </li>
                        <li class="profile-settings">
                            Настройки профиля
                        </li>
                        <li>
                            <a href="{% url 'users:logout'%}"><h3>Log out</h3></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="advertisement">
            <div id="advertisement-header">
                <b>Объявления</b>

                {% for product in products %}
                    <div class="ad">
                    <div>
                        <div id="ad-date">  
                            {{product.add_date}}
                        </div>
                        <div id="ad-name">
                            {{product.title}}
                        </div>
                    </div>
                    <div class="ad-info-with-photo">
                        <div class="ad-info">
                            <div id="price">
                                {{product.price}}  руб.
                            </div>
                            <div id="description">
                                 {{product.description}}

                            </div>
                        </div>
                        <div class="ad-photo-dir">
                            <div id="ad-photo">
                                product_photo
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

{% endblock %}
