{% extends "core/base.html" %}
{% block content %}
    <div class="profile">
        <div class="nav-profile">
            <div>
                <div id="avatar-photo">
                    {{ avatar_photo }}
                </div>
                <div id="name">
                    {{ full_name }}
                </div>
                <div id="city-id">
                    {{ city_and_id }}
                </div>
            </div>
            <ul id="advertisement-info">
                <li>
                    <ul class="category">
                        <li>
                            <b>Мои объявления</b>
                        </li>
                        <li class="profile-settings">
                            Актуальные
                        </li>
                        <li class="profile-settings">
                            Архив
                        </li>
                        <li class="profile-settings">
                            Все объявления
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="category">
                        <li>
                            <b>Покупки и избранное</b>
                        </li>
                        <li class="profile-settings">
                            Избранное
                        </li>
                        <li class="profile-settings">
                            Купленное
                        </li>
                        <li class="profile-settings">
                            Подписки
                        </li>
                    </ul>
                </li>
                <li class="category">
                    <span class="profile-settings">
                        Сообщения
                    </span>
                </li>
                <li>
                    <ul class="category">
                        <li>
                            <b>Мой профиль</b>
                        </li>
                        <li class="profile-settings">
                            Настройки профиля
                        </li>
                        <li class="profile-settings">
                            Моя страница
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="advertisement">
            <div id="advertisement-header">
                <b>Объявления</b>
            </div>
            {% if !is_advertisement %}
                <div class="ad-button">
                        <span id="is-advertisement">
                            Объявлений нет
                        </span>
                        <div id="create-ad">
                            Создать объявление
                        </div>
                    </div>
            {% else %}
                {% for %}
                    <div class="ad">
                    <div>
                        <div id="ad-date">  
                            {{ date }} в {{ hour }}:{{ min }}
                        </div>
                        <div id="ad-name">
                            {{ product_name }}
                        </div>
                    </div>
                    <div class="ad-info-with-photo">
                        <div class="ad-info">
                            <div id="price">
                                {{ price }} руб.
                            </div>
                            <div id="description">
                                {{ decription }}
                            </div>
                            <div id="delivery-payment">
                                {{ delivery_and_payment }}
                            </div>
                        </div>
                        <div class="ad-photo-dir">
                            <div id="ad-photo">
                                {{ product_photo }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
