body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
}

.product-info-cmbk {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.cmbk {
    margin-top: 30px;
}

#alert {
    font-size: 20px;
}

#button {
    border: 2px solid gray;
    width: 25%;
    font-size: 20px;
    padding: 5px 0;
    text-align: center;
    margin-top: 20px;
}


.product-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}

.ad {
    display: flex;
    flex-direction: column;
    background-color: rgb(211, 211, 211);
    width: 80%;
    padding: 10px 10px 10px 10px;
}

#ad-date {
    font-size: 12px;
}

#ad-name {
    font-size: 20px;
}

.ad-info-with-photo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ad-info {
    width: 70%;
}

#price {
    font-size: 24px;
}

#description {
    font-size: 16px;
}

#delivery-payment {
    font-size: 16px;    
}

.ad-photo-dir {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

#ad-photo {
    width: 20%; /* Удалить после добавления фото */
    background: white;   
}

.settings {
    line-height: 24px;
    padding: 0 5px;
}

#change {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

#delete {
    border-bottom: 1px solid lightgray;
}

.navbar {
    position: sticky;
    margin-right: auto;
}

.ul-navbar {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.ul-footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin-top: auto;
    margin-left: auto;
}

.top-navbar {
    display: flex;
    background-color: #0067b1;
    flex-direction: row;
    color: #ffffff;
}

.ul-navbar li, .ul-footer li {
    list-style: none;
}

.top-navbar a, .ul-footer a {
    color: #aed6ff;
    text-decoration: none;
    transition: 0.5s;
}

.top-navbar a:hover, .ul-footer a:hover {
    color: #ffffff;
    transition: color 0.5s;
}

.footer-main {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    height: 50px;
    background-color: rgb(228, 228, 228);
}