{% extends "core/base.html" %}
{% block content %}
    <div class="profile">
        <div class="nav-profile">
            <div>
                <div id="avatar-photo">
                    {{ users.image }}
                </div>
                <div id="name"> <!-- username-->
                    Логин: &nbsp; {{ request.user.username }}
                </div>
                <!-- first_name-->
                <div id="city-id">
                    Имя: &nbsp; {{request.user.first_name}}
                </div>
                <div id="city-id">
                    Фамилия: &nbsp; {{request.user.last_name}}
                </div>
                <div id="city-id">
                    Баланс: &nbsp; {{request.user.balance}}руб.
                </div>
            </div>
            <ul id="advertisement-info">
                <li>
                    <ul class="category">
                        <li class="profile-settings">
                            <a href="{% url "users:create_product" request.user.username %}?next={{request.path}}" class="profile-links">Добавить товар</a>
                        </li>
                        <li class="profile-settings">
                            Архив
                        </li>
                        <li class="profile-settings">
                            <a href="{% url 'products:search' %}" class="profile-links">
                                Все объявления
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="category">
                        <li class="profile-settings">
                            <a href="{% url "users:profile" request.user.username %} class="profile-links"">Мой профиль</a>
                        </li>
                        <li class="profile-settings">
                            Настройки профиля
                        </li>
                        <li class="profile-settings">
                            <a href="{% url 'users:logout'%}" class="profile-links">Выйти из профиля</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="advertisement">
            <div id="advertisement-header">
                <b>Объявления</b>
            </div>
            {% if !products %}
                <div class="ad-button">
                    <span id="is-advertisement">
                        Объявлений нет
                    </span>
                    <form action="{% url 'users:create_product' request.user.username %}">
                        <button class="universal-button">
                            Создать
                        </button>
                    </form>
                </div>
            {% else %}
                {% for product in products %}
                    <form action="{% url 'products:product' product.category.slug product.slug %}" class="ad-form">
                        <button class="ad">
                            <div id="ad-date">  
                                {{product.add_date}}
                            </div>
                            <div id="ad-name">
                                {{product.title}}
                            </div>
                            <div class="ad-info-with-photo">
                                <div class="ad-info">
                                    <div id="price">
                                        {{product.price}}  руб.
                                    </div>
                                    <div id="description">
                                        {{product.description}}
                                    </div>
                                </div>
                                <div class="ad-photo-dir">
                                    <div id="ad-photo">
                                        {{product.image}}
                                    </div>
                                </div>
                            </div>
                        </button>
                    </form>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
