{% extends "core/base.html" %}
{% block content %}
    <div class="main">
        <div class="product-info-cmbk">
            <div class="cmbk">
                {% if !is_available_ad %}
                <div id="alert">
                    Ваше объявление не показывается на сайте.<br>
                    Продлите его, если оно ещё актуально.
                </div>
                {% endif %}
                <div id="button">
                    Вернуть на сайт
                </div>
            </div>
            <div class="product-info">
                <div class="ad">
                    <div>
                        <div id="ad-date">  
                            {{ date }} в {{ hour }}:{{ min }}
                        </div>
                        <div id="ad-name">
                            {{ product_name }}
                        </div>
                    </div>
                    <div class="ad-info-with-photo">
                        <div class="ad-info">
                            <div id="price">
                                {{ price }} руб.
                            </div>
                            <div id="description">
                                {{ decription }}
                            </div>
                            <div id="delivery-payment">
                                {{ delivery_and_payment }}
                            </div>
                        </div>
                        <div class="ad-photo-dir">
                            <div id="ad-photo">
                                {{ product_photo }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="settings">
                    <div id="change">
                        Редактировать
                    </div>
                    <div id="delete">
                        Удалить объявление
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
