<!DOCTYPE html>
<html  lang="ru">
    <head>
        <title>Объявление</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="product-style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="top-navbar">
            <nav class="navbar">
                <ul class="ul-navbar">
                    <li>
                        <a href=""><img></a>
                    </li> <!-- TODO: add a logo image here -->
                    <li>
                        <a href="{% url 'products:search' %}">Главная</a>
                    </li>
                </ul>
            </nav>
            <ul class="ul-navbar">
                <li>
                    <img>{{ goslings|default:"NaN" }} Гослингов &nbsp; <!-- TODO: add images --> 
                </li>
                <li>
                    <a href="">Избранное</a> &nbsp; <!-- TODO: add links -->
                </li>
                <li>
                    <a href=""><img> {{ first_name|default:"" }} {{ second_name|default:"" }} </a> <!-- TODO: add avatar parsed from vk-->
                </li>
                {% if first_name == "" %}
                <li>
                    <a href="">Войти</a> или <a href="">Зарегистрироваться</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="main">
            <div class="product-info-cmbk">
                <div class="cmbk">
                    <!--{% if !is_available_ad %}-->
                    <div id="alert">
                        Ваше объявление не показывается на сайте.<br>
                        Продлите его, если оно ещё актуально.
                    </div>
                    <!--{% endif %}-->
                    <div id="button">
                        Вернуть на сайт
                    </div>
                </div>
                <div class="product-info">
                    <div class="ad">
                        <div>
                            <div id="ad-date">  
                                'Число Месяц Год' в 'Час':'Минуты'
                            </div>
                            <div id="ad-name">
                                'Название товара'
                            </div>
                        </div>
                        <div class="ad-info-with-photo">
                            <div class="ad-info">
                                <div id="price">
                                    'Цена' руб.
                                </div>
                                <div id="description">
                                    'Описание'
                                </div>
                                <div id="delivery-payment">
                                    'Доставка и оплата'
                                </div>
                            </div>
                            <div class="ad-photo-dir">
                                <div id="ad-photo">
                                    Photo
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="settings">
                        <div id="change">
                            Редактировать
                        </div>
                        <div id="delete">
                            Удалить объявление
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <footer class="footer-main">
            <ul class="ul-footer">
                <li >
                    Сайт-маркетплейс для студентов &nbsp;
                </li>
                <li>
                    <a href="">Контакты</a>
                </li>
            </ul>
        </footer>
    </body>
</html>